html,
body {
  height: 100%;
  background-color: $background-color;
}

body {
  display: flex;
  flex-direction: column;
  color: $container-text-color; 

}

.main {
  flex: 1 0 auto;

}

.header,
.footer {
  flex: 0 0 auto;
}

.main {
  width: 100%;
  max-width: 64rem;
  padding: $padding;
  margin: 0 auto;
  background-color: $container-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  a:any-link {
    color: $link-color; /* Din önskade färg */
    text-decoration: none; /* Ingen understrykning */
  }
  
  a:any-link:hover {
    color: $link-hover-color; /* Färg vid hover */
    text-decoration: underline; /* Lägg till understrykning vid hover */
  }

  a:any-link:visited {
    color: $link-visited-color; /* Färg för besökta länkar */
    text-decoration: none; /* Ingen understrykning för besökta länkar */
  }
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
    margin: 0 1rem;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
