html,
body {
  height: 100%;
  background-color: $background-color;
}

body {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  color: $container-text-color; 

}

hr {
  border-top: 4px solid $line-color; /* Tjocklek och färg på linjen */
  margin: 20px 0; /* Avstånd ovanför och under linjen */
  width: 100%; /* Bredd på linjen (valfritt) */

}

.main {
  flex: 1 0 auto;

}

code {
  background-color: #f4f4f4; /* Ljusa grå bakgrund */
  color: $line-color; /* Mörkgrå text */
}


.header,
.footer {
  flex: 0 0 auto;
}

.main {
  width: 100%;
  max-width: 64rem;
  padding: $padding;
  margin: 0 auto;
  background-color: $container-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  a:any-link {
    color: $link-color; /* Din önskade färg */
    text-decoration: none; /* Ingen understrykning */
  }
  
  a:any-link:hover {
    color: $link-hover-color; /* Färg vid hover */
    text-decoration: underline; /* Lägg till understrykning vid hover */
  }

  a:any-link:visited {
    color: $link-visited-color; /* Färg för besökta länkar */
    text-decoration: none; /* Ingen understrykning för besökta länkar */
  }
}

a {
  color: #007bff; /* Primär länkfärg */
  text-decoration: underline; /* Understrykning */
  font-weight: 600; /* Gör länkar fetstilta */
  transition: all 0.3s ease; /* Mjuk övergång för hover-effekter */
}

a:hover {
  color: #0056b3; /* Mörkare blå vid hover */
  text-decoration: none; /* Ta bort understrykning vid hover */
  background-color: rgba(0, 123, 255, 0.1); /* Subtil bakgrundseffekt */
}

li a {
  display: inline-block;
  padding: 8px 12px;
  margin: 4px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
    margin: 0 1rem;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  td {
    background-color: #fff;
    color: #777; /* Kan skapa problem */
  }


}

.hidden {
  display: none !important;
}
