.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
  background-color: $background-color;
  color: $footer-text-color;

  .social a {
    
    text-decoration: none;
    font-size: 3rem;
    color: $button-text;
    
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Ändra layout till kolumn för små skärmar */
    align-items: center;
    padding: 1rem;
    text-align: center; /* Justera textens placering */
  }

  .social {
    margin-top: 1rem; /* Lägg till mellanrum ovanför sociala ikoner */
        
    a {
      font-size: 2.5rem; /* Minska storlek på ikoner */
    }
  }
}
