img,
embed,
object,
video {
  max-width: 100%;
}

.gallery {
  display: grid;
  gap: 1rem; /* Avstånd mellan bilderna */
  grid-template-columns: repeat(3, 1fr); /* Tre kolumner på desktop */
  margin: 2rem auto;
  padding: 1rem;
  max-width: 1200px; /* Sätter en maxbredd på galleriet */
}

.gallery-item {
  overflow: hidden; /* Förhindra att innehåll sticker ut */
  border: 3px solid #333; /* Tydlig blå ram */
  border-radius: 8px; /* Rundade hörn */
  padding: 5px; /* Extra utrymme mellan bild och ram */
  background-color: #f9f9f9; /* Ljus bakgrund för kontrast */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtil skugga */
}

.gallery-item img {
  display: block;
  width: 100%; /* Gör att bilden fyller hela containern */
  height: auto; /* Behåller bildens proportioner */
  border-radius: 5px; /* Rundade hörn på bilden */
}


.video-container {
  position: relative;
  padding-bottom: 30%; /* Höjd-bredd-förhållande 16:9 */
  height: 0;
  overflow: hidden;
  margin: 2rem auto; /* Lägg till marginal upptill och centrera */
  max-width: 800px; /* Begränsa bredden */
  width: 100%; /* Gör videon responsiv */

  border: 3px solid #fff; /* Ramens tjocklek och färg */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; /* Ta bort extra kantlinjer */
  }
}

/* Media query för mobil */
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr; /* En kolumn på mobil */
  }
}
