.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
  background-color: $background-color; /* Mörkröd bakgrund */

  .site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* Förhindra radbrytningar */

  }

  h1,
  p {
    font-size: 2rem;
    color: $header-text-color; /* Ändra till den färg du vill ha */
    text-decoration: underline;
  }
}

.nav a {
  font-size: $nav-font-size;
  color: $header-text-color; /* Vit text för hög kontrast */
  text-decoration: none;
  transition: color 0.3s ease;
  flex-wrap: nowrap; /* Förhindra radbrytningar */

  &:hover {
    color: #ffd700; /* Guldtext vid hover */
  }
}

.nav-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px; /* Minsta bredd */
  height: 48px; /* Minsta höjd */
  margin: 16px; /* Avstånd från andra element */
  background-color: transparent;
  cursor: pointer;

  i {
    font-size: 1.5rem; /* Ikonstorlek */
  }
}

.nav a {
  display: inline-block;
  padding: 16px 20px; /* Tillräcklig pekyta */
  margin: 12px; /* Avstånd mellan länkar */
  min-width: 48px; /* Minsta bredd */
  min-height: 48px; /* Minsta höjd */
  text-decoration: none;
  color: $header-text-color;
  text-align: center;
}



@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Ändra layout för små skärmar */
    align-items: center;
    padding: 1rem;
  }

  .site-header {
    flex-direction: column;
    align-items: center;

    .logo {
      margin-bottom: 1rem; /* Separera logotypen från övriga element */
    }
  }

  .nav {
    width: 100%;

    ul {
      display: flex;
      flex-direction: column; /* Vertikal layout för navigering */
      align-items: center;
      gap: 1.5rem;
    }
  }

  .nav-toggle {
    width: 56px; /* Gör knappen större på mobila enheter */
    height: 56px;
    display: block; /* Visa hamburger-ikonen på små skärmar */
    font-size: 1.5rem;
  }
}
