// Färgvariabler för mörkt tema
$background-color: #5b5858;
$text-color: #dbd8d8;
$container-color: #333;
$container-text-color: #e0e0e0;
$boarder-color: #e0e0e0;

//Links
$link-color: #1e90ff;
$link-hover-color: #4682b4;
$link-visited-color: #9370db;

// Layout- och spacing-variabler
$padding: 2rem;
$nav-font-size: 2rem;
$margin: 1.96rem;

// Textrutor/kort specifikt för mörkt tema
$dark-card-bg: #2a2a2a;
$dark-card-text: #dbd8d8; 

// Färg för rubriker
$header-text-color: #dbd8d8;

//Footer
$footer-text-color: #dbd8d8;

// Färg för knappar
$button-bg: #444; // Mörk bakgrund för knappar
$button-text: #fff; // Ljus text för knappar
$button-hover-bg: #555; // Ljusare mörk bakgrund vid hover
$button-hover-text: #e0e0e0; // Ljus text vid hover

//Bild filter
$greyscale: 20%;
$contrast: 120%;
$brightness: 50%;
