// Färgvariabler för Ljust tema

//Header
$header-text-color: #fff;

//Footer
$footer-text-color: #fff;

$nav-font-size: 2rem;
$yellow-color: #deba08;
$padding: 2rem;
$background-color: rgb(147, 3, 3);
$container-color: #fff;
$container-text-color: #333;
$boarder-color: #ccc;

$link-color: #0056b3; // Standard länkfärg (blå)
$link-hover-color: #003a80; // Mörkare blå för hover-effekt
$link-visited-color: #4b0082;
$margin: 1.96rem;

//Buttons
$button-text: #fff;

//Bild filter
$greyscale: 0%;
$contrast: 100%;
$brightness: 100%;
